db/TrabalhoFinal.quiproj.7596.rdr.flock
TrabalhoFinal.qws
db/TrabalhoFinal.db_info
db/
incremental_db/
*.rpt
output_files/TrabalhoFinal.done
output_files/TrabalhoFinal.fit.summary
output_files/TrabalhoFinal.map.summary
output_files/TrabalhoFinal.sof
simulation/modelsim/TrabalhoFinal.vho
simulation/modelsim/TrabalhoFinal_fast.vho
simulation/modelsim/TrabalhoFinal_modelsim.xrf
simulation/modelsim/TrabalhoFinal_vhd.sdo
simulation/modelsim/TrabalhoFinal_vhd_fast.sdo
output_files/TrabalhoFinal.sta.summary
output_files/TrabalhoFinal.jdi
*.bak
output_files/TrabalhoFinal.pof
*.dat
*.bak10
simulation/modelsim/TrabalhoFinal_run_msim_rtl_vhdl.do
simulation/modelsim/TrabalhoFinal_run_msim_rtl_vhdl.do.bak11
simulation/modelsim/msim_transcript
simulation/modelsim/rtl_work/_info
simulation/modelsim/rtl_work/_vmake
simulation/modelsim/rtl_work/addresslogic/_primary.dbs
simulation/modelsim/rtl_work/addresslogic/behavioral.dbs
simulation/modelsim/rtl_work/addresslogic/behavioral.prw
simulation/modelsim/rtl_work/addresslogic/behavioral.psm
simulation/modelsim/rtl_work/alu_ctr/_primary.dbs
simulation/modelsim/rtl_work/alu_ctr/alu_ctr_arch.dbs
simulation/modelsim/rtl_work/alu_ctr/alu_ctr_arch.prw
simulation/modelsim/rtl_work/alu_ctr/alu_ctr_arch.psm
simulation/modelsim/rtl_work/breg/_primary.dbs
simulation/modelsim/rtl_work/breg/behavioral.dbs
simulation/modelsim/rtl_work/cntrmips/_primary.dbs
simulation/modelsim/rtl_work/cntrmips/behavioral.dbs
simulation/modelsim/rtl_work/estado/_primary.dbs
simulation/modelsim/rtl_work/estado/behavioral.dbs
simulation/modelsim/rtl_work/extsgn/_primary.dbs
simulation/modelsim/rtl_work/extsgn/extsgn_arch.dbs
simulation/modelsim/rtl_work/memoria/_primary.dbs
simulation/modelsim/rtl_work/memoria/syn.dbs
simulation/modelsim/rtl_work/mux_2/_primary.dbs
simulation/modelsim/rtl_work/mux_2/rtl.dbs
simulation/modelsim/rtl_work/mux_2_5bits/_primary.dbs
simulation/modelsim/rtl_work/mux_2_5bits/rtl.dbs
simulation/modelsim/rtl_work/mux_2_8bit/_primary.dbs
simulation/modelsim/rtl_work/mux_2_8bit/rtl.dbs
simulation/modelsim/rtl_work/mux_2_8bit/rtl.prw
simulation/modelsim/rtl_work/mux_2_8bit/rtl.psm
simulation/modelsim/rtl_work/mux_3/_primary.dbs
simulation/modelsim/rtl_work/mux_3/rtl.dbs
simulation/modelsim/rtl_work/mux_4/_primary.dbs
simulation/modelsim/rtl_work/mux_4/rtl.dbs
simulation/modelsim/rtl_work/pc/_primary.dbs
simulation/modelsim/rtl_work/pc/rtl.dbs
simulation/modelsim/rtl_work/reg_32/_primary.dbs
simulation/modelsim/rtl_work/reg_32/rtl.dbs
simulation/modelsim/rtl_work/reg_int/_primary.dbs
simulation/modelsim/rtl_work/reg_int/rtl.dbs
simulation/modelsim/rtl_work/rom/_primary.dbs
simulation/modelsim/rtl_work/rom/behavioral.dbs
simulation/modelsim/rtl_work/rom/behavioral.prw
simulation/modelsim/rtl_work/rom/behavioral.psm
simulation/modelsim/rtl_work/shift32_2/_primary.dbs
simulation/modelsim/rtl_work/shift32_2/shift32_2_arch.dbs
simulation/modelsim/rtl_work/somador/_primary.dbs
simulation/modelsim/rtl_work/somador/behavioral.dbs
simulation/modelsim/rtl_work/trabalhofinal/_primary.dbs
simulation/modelsim/rtl_work/trabalhofinal/behavioral.dbs
simulation/modelsim/rtl_work/trabalhofinal/behavioral.prw
simulation/modelsim/rtl_work/trabalhofinal/behavioral.psm
simulation/modelsim/rtl_work/trabalhofinal_vhd_tst/_primary.dbs
simulation/modelsim/rtl_work/trabalhofinal_vhd_tst/trabalhofinal_arch.dbs
simulation/modelsim/rtl_work/ula/_primary.dbs
simulation/modelsim/rtl_work/ula/behavioral.dbs
simulation/modelsim/vsim.wlf
